
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=


AIRFLOW_SECRET_KEY=
AIRFLOW_USER=
AIRFLOW_PASSWORD=
AIRFLOW_EMAIL=

EMBED_MODEL=jhgan/ko-sroberta-multitask

VITE_API_URL=

GEMINI_API_KEY=
